# Dependências
/node_modules

# Arquivos de build ou output
/dist
/build
/out

# Arquivos de log
/logs
*.log

# Ambiente específico
.env

# Arquivos de configuração do IDE
.idea
.vscode

# Outros arquivos gerados automaticamente
npm-debug.log*
.DS_Store

# Cache do npm
/.npm